server-local.properties
public
!.gitkeep
*.egg
*.egg-info
*.pyc
.DS_Store
.idea
*.iml
.venv
.project
.classpath
.settings
build
dist
tmp
output/
packer_cache/
log-*.txt
.terraform
terraform.tfstate.backup
.vscode/settings.json
